@page "/events"

@inject IJSRuntime JSRuntime


<h3>Eventos</h3>
<div class="google-map">
    <div id="map"></div>
</div>


<style>
    .google-map {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #map {
    height: 80vh;
    width: 100%;
}
</style>

@code {
    protected override async Task OnInitializedAsync() {
        await JSRuntime.InvokeVoidAsync("initMap");
    }
}