@page "/events"

@inject IJSRuntime JSRuntime


<body>
    <h3>Eventos</h3>
    <div id="map"></div>
</body>


<style>
    #map {
    height: 80vh;
    width: 80%;
}
</style>

@code {
    protected override async Task OnInitializedAsync() {
        await JSRuntime.InvokeVoidAsync("initMap");
    }
}